
header {
    margin: 0;
    height: 13.5em;
    width: 100vw;
    margin: auto;
    margin-bottom: 30px;
    font-family: serif;
    font-weight: 700;
    color: white;
    background-color: #212529;
    /* https://stackoverflow.com/questions/5460129/how-to-create-a-drop-shadow-only-on-one-side-of-an-element/24698566#24698566 */
    box-shadow: 0 10px 20px black;
    clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
}

#header-name {
    position: relative;
    left: 0;
    top: 40%;
    vertical-align: middle;
    width: 40vw;
    font-weight: 700;
    color: white;
    text-align: center;
}
  

#logo-container {
    position: absolute;
    top: 10px;
    left: 44.5%;
    background-color: none;
}

#logo {
    text-align: center;
    width: 150px;
    margin: 20px;
}

#logo:hover {
    
}



.nav-container {
    float: right;
    vertical-align: middle;
    width: 40vw;
    font-size: 22px;
    margin-top: 15px;
}

.header-nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.25em;
    margin-top: 15px;
}

.dropdown-item {
    color: white;
    font-size: 20px;
    
}

.dropdown-item:hover {
    color: skyblue;
}